<h1><%= t("Listing feeds") %></h1>
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th><%= t(:title) %></th>
      <th><%= t(:url) %></th>
      <th colspan="2"></th>
    </tr>

  <% @feeds.each do |feed| %>
    <tr>
      <td><%= feed.title %></td>
      <td><%= feed.url %></td>
      <td>
        <%= link_to t(:edit), edit_feed_path(feed), class: "btn btn-primary btn-sm" %>
        <%= link_to content_tag('span',"", class: 'glyphicon glyphicon-trash'), feed, confirm: "Are you sure you want to delete '#{feed.title}'?", method: :delete, class: "btn btn-danger btn-sm" %>

      </td>
    </tr>
  <% end %>
  </table>
</div>