<div id="new-feed" class="modal-dialog">
  <%= simple_form_for(@feed_user, :remote => true) do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Feed</h4>
      </div>
      <div class="modal-body">
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="form-group">
            <label class="control-label col-xs-2">URL</label>
            <div class="col-xs-10">
              <%= @feed.url %>
            </div>
          </div>
        </div>
        <div class="form-inputs">
          <%= f.input :title, :required => true%>
        </div>
        <div class="form-inputs">
          <%= f.input :folder_id, collection: @folders, :as => :select %>
        </div>
      </div>
      <div class="modal-footer">
        <%= image_tag("preloader.gif", :class => 'preloader hide') %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.button :submit, "Unsubscribe", :class => "btn-danger pull-left", name: "unsubscribe" %>
        <%= f.button :submit, "Save", :class => "btn-success", name: "save" %>
      </div>
    </div>
  <% end %>
</div>