<div class="header">
  <h2>
    <span><%= feed.title %></span>
    <small class="edit-title"><%= link_to 'Edit', edit_feed_user_path(feed.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></small>
  </h2>

  <span data-unread-url="<%= unread_path(CGI.escape(feed.url))%>" class="unread_url"></span>
  <span data-read-url="<%= reader_feed_path(CGI.escape(feed.url))%>" class="read_url"></span>
  <span data-mark-all-url="<%= mark_all_feed_path(CGI.escape(feed.url))%>" class="mark_all_url"></span>
  <%= render "header_buttons" %>
</div>