<div class="header">
  <h2>
    <span><%= folder.name %></span>
    <small class="edit-title"><%= link_to 'Edit', edit_folder_path(folder.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></small>
  </h2>

  <span data-unread-url="<%= folder_unread_path(folder)%>" class="unread_url"></span>
  <span data-read-url="<%= reader_folder_path(folder)%>" class="read_url"></span>
  <span data-mark-all-url="<%= mark_all_folder_path(folder)%>" class="mark_all_url"></span>
  <%= render "header_buttons" %>
</div>